@if(myConnectedUser.Id ==-1){
    <p>Vous n'etes pas connecter !</p>
}@else {
    <h4>Vous etes connecter !</h4>
    <p>Connected as : {{this.myConnectedUser.Id}}</p>
    <p>username : {{this.myConnectedUser.Username}}</p>
}   
@if(!isConnected){
<div>
    <form [formGroup]="connexionForm" (submit)="submitConnexion()">
        <label for="username"> username </label>
        <input id="username" type="text" formControlName="username" >
        <label for="password"> password </label>
        <input id="password" type="password" formControlName="password">
        <button type="submit" class="primary"> CONNEXION </button>
    </form>
</div>
}

@if(isConnected){
    
    <button (click)="onDisconnection()"> Disconnect </button>
}
