@if(myConnectedUser.Id ==-1){
    <p>Vous n'etes pas connecter !</p>
}@else {
    <h4>User Information</h4>
    <p>Connected as : {{this.myConnectedUser.Id}}</p>
    <p>username : {{this.myConnectedUser.Username}}</p>
}   
@if(!isConnected){
<div>
    <form [formGroup]="connexionForm" (submit)="submitConnexion()">
        <label for="username"> username </label>
        <input id="username" type="text" formControlName="username">
        <label for="password"> password </label>
        <input id="password" type="password" formControlName="password">
        <button type="submit" class="primary"> CONNEXION </button>
        
    </form>
    <form [formGroup]="createUserForm" (submit)="CreatUser()">
        <label for="New_Email"> Email </label>
        <input id="New_Email" type="text" formControlName="New_Email">
        <label for="New_Username"> Username </label>
        <input id="New_Username" type="text" formControlName="New_username">
        <label for="New_password"> password </label>
        <input id="New_password" type="password" formControlName="New_password">
        <button type="submit"> Create User </button>
    </form>
</div>
}

@if(isConnected){
    
    <button (click)="onDisconnection()"> Disconnect </button>
}
